.venv/
.pytest_cache/
.hypothesis/
.ruff_cache/
__pycache__/
*.pyc
.codex/
frontend/.nuxt/
frontend/.output/
frontend/.artifacts/
frontend/dist
frontend/test-results/
api/.venv/
api/.pytest_cache/
api/.hypothesis/
api/.ruff_cache/
api/__pycache__/
local-data/*
*/test-results/
.actrc
*/data/*
data.db
api/*.egg-info
*.egg-info/
batch/target/
batch/data/
# db/schema.sql

# browser_extension
browser_extension/logs/
browser_extension/*.log
browser_extension/npm-debug.log*
browser_extension/yarn-debug.log*
browser_extension/yarn-error.log*
browser_extension/pnpm-debug.log*
browser_extension/lerna-debug.log*
browser_extension/node_modules/
browser_extension/.output/
browser_extension/stats.html
browser_extension/stats-*.json
browser_extension/.wxt/
browser_extension/web-ext.config.ts
browser_extension/.vscode/*
!browser_extension/.vscode/extensions.json
browser_extension/.idea/
browser_extension/.DS_Store
browser_extension/*.suo
browser_extension/*.ntvs*
browser_extension/*.njsproj
browser_extension/*.sln
browser_extension/*.sw?
